<h1><%=@patient.name%>'s Appointment's</h1>
<% for @patient.appointments.each do |apt|%>
  <%=apt.appointment_datetime.strftime("%B %d, %Y at %H:%M")%> <%=link_to apt.doctor.name, doctor_path(apt.doctor) %>
